<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>688230909821-a9gq1rk9meq4nd3nkrk7burg3hm3nbh0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.688230909821-a9gq1rk9meq4nd3nkrk7burg3hm3nbh0</string>
	<key>API_KEY</key>
	<string>AIzaSyA1FWllTzfug7H_RKA_6emjSrwaO8EDVqI</string>
	<key>GCM_SENDER_ID</key>
	<string>688230909821</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ao-appdeveloper.Time-Tracker</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-6c047</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-6c047.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688230909821:ios:da5fb4d114ff1400</string>
	<key>DATABASE_URL</key>
	<string>https://time-tracker-6c047.firebaseio.com</string>
</dict>
</plist>